
.next-launch{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.jumbotronCategory {
  position: relative;
  padding-left: 24px;
  line-height: 1.3;
  color: #f1f1f1;
  margin-bottom: 32px;
}
.jumbotronCategory::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 16px;
  height: 1px;
  background-color: #fc0;
}

.jumbotronHeaderone {
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  text-transform: uppercase;
  color: #fc0;
  letter-spacing: 0.4em;
  

  margin-bottom: 32px;
}

.year{
  padding-left: 16px;
}

.jumbotronHeadertwo {
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  text-transform: uppercase;
  color: #f1f1f1;
  letter-spacing: 0.4em;
  margin-bottom: 16px;
}

.Flight-nr{
  color: #f1f1f1;
  letter-spacing: 0.4em;
  margin-bottom: 64px;
}

.btn {
  position: relative;
  padding: 0 15px;
  border-width: 2px;
  height: 40px;
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  font-size: 16px;
  line-height: 38px;
  border-radius: 0;
  transition: ease-in-out 0.3s;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  border-color: #fc0;
  background-color: transparent;
  color: #fc0;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: rgba(222, 102, 0, 0.1);
  color: #f1f1f1;
}

@media screen and (min-width: 812px){

  .jumbotronHeaderone {
    font-size: 32px;
  }
  .jumbotronHeadertwo {
    font-size: 40px;
    margin-bottom: 24px;
  }
  

}


/*
.next-launch{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.Flight-nr{
  color: green;
  margin-bottom: 32px;
}


.jumbotronCategory {
  display: block;
  position: relative;
  padding-left: 24px;
  line-height: 1.3;
  color: #f1f1f1;
  margin-bottom: 32px;
}
.jumbotronCategory::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 16px;
  height: 2px;
  background-color: #fc0;
  
}

.jumbotronHeaderone {
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  text-transform: uppercase;
  color: #fc0;
  letter-spacing: 0.4em;
  mix-blend-mode: color-dodge;
  margin-bottom: 24px;

}
.year{
  margin-left: 16px;
}
.jumbotronHeadertwo {
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  text-transform: uppercase;
  color: #f1f1f1;
  letter-spacing: 0.4em;
  margin-bottom:48px;
}



.btn {
  position: relative;
  padding: 0 15px;
  border-width: 2px;
  height: 40px;
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  font-size: 16px;
  line-height: 38px;
  border-radius: 0;
  transition: ease-in-out 0.3s;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  border-color: #fc0;
  background-color: transparent;
  color: #fc0;
  mix-blend-mode: color-dodge;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: rgba(222, 102, 0, 0.5);
  color: #f1f1f1;
}


@media screen and (min-width: 812px) {
  .jumbotronHeaderone {
   
    font-size: 56px;
  }

  .jumbotronHeadertwo {
    font-size: 32px;

  }
  



}



*/