.cardscontainer {
  margin-top: 80px;
}

.cardTitle {
  position: relative;
  font-family: "Ek Mukta", sans-serif;
  text-transform: uppercase;
  color: #fc0;;
  letter-spacing: 0.4rem;
  margin-bottom: 24px;
  padding-left: 24px;
  margin-bottom: 32px;
}


.cardTitle::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 12px;
  width: 16px;
  height: 2px;
  background-color: #fc0;
  display: block;
}



.card {
  color: #f1f1f1;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(0, 35, 71, 0.5);
  
}

.card  .btn{
  width: 50%;
  margin: auto;
}








 