.detail-container {
  margin-top: 80px;
}

.project-info-box-text {
  color: #f1f1f1;
  letter-spacing: 0.03rem;
  font-weight: 400;
  line-height: 1.6;
}
.project-info-box-content{
  color: #f1f1f1;
  margin-bottom: 16px;
}



.detail-container b {
  color: #fdc632;
  font-weight: 400;
}

.carousel-inner img {
  margin-top: 16px;
  max-height: 200px;
  object-fit: cover;
}


.detailimage {
  width: 80px;
  object-fit: cover;
  display: block;
  margin: auto;
  padding-top: 16px;
}  


@media screen and (min-width: 812px) {
  
  .carousel-inner img {
    margin-top: 64px;
    max-height: 280px;
    object-fit: cover;
  }


  .detailimage {
    width: 106px;
    object-fit: cover;
    display: block;
    padding-top: 16px;
  } 


}
