.footer {
    margin-top: 80px;
    background: rgba(222, 102, 0, 0.1);

  }
  
  .footer section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer section p {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    color: #f1f1f1;
  }
  